# Chapter 06. 함수 기초

## 1. 내장함수와 메서드

### 1. len() 함수는 문자열이나 리스트의 길이를 나타내는 함수

In [7]:
vege = "potato"
n=[4,5,2,7,6]

print("vege의 길이는 ",len(vege))
print("리스트 n의 길이는 ",len(n))

vege의 길이는  6
리스트 n의 길이는  5

##### 메서드 : 값.메서드명()으로 명명

##### append()

In [2]:
#append() 추가하는 메서드
alphabet=["a","b","c","d","e"]
alphabet.append("f")
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f']

##### sorted()와 sort()

In [6]:
#sorted() 정렬 메서드
number=[1,4,3,5,2]
print("sorted(리스트명)는 본래 리스트를 정렬하지않고 정렬만해서 출력")
print(number)
print(sorted(number))
print(number)
print()

print("리스트.sort()는 본래 리스트를 정렬하고 저장")
print(number)
number.sort()
print(number)

sorted(리스트명)는 본래 리스트를 정렬하지않고 정렬만해서 출력
[1, 4, 3, 5, 2]
[1, 2, 3, 4, 5]
[1, 4, 3, 5, 2]

리스트.sort()는 본래 리스트를 정렬하고 저장
[1, 4, 3, 5, 2]
[1, 2, 3, 4, 5]

##### upper와 count

In [9]:
city = "Tokyo"
print(city.upper())
print(city.count('o'))
print(city)

TOKYO
2
Tokyo

In [11]:
animal="elephant"
animal_big=animal.upper()
print(animal)
print(animal_big)

print(animal.count('e'))

elephant
ELEPHANT
2

##### format()

In [12]:
print("나는 {}에서 태어나 {}에서 유년기를 보냈습니다.".format("서울","경기"))

나는 서울에서 태어나 경기에서 유년기를 보냈습니다.

In [13]:
fruit="바나나"
color="노란색"
print("{}는 {}입니다".format(fruit,color))

바나나는 노란색입니다

##### index 와 count

In [14]:
alphabet=["a","b","c","d","d"]
print(alphabet.index('a'))
print(alphabet.index('d'))

print(alphabet.count('d'))

0
3
2

In [15]:
n=[3,6,8,6,3,2,4,6]
print(n.index(2))
print(n.count(6))

5
3

##### sort(오름차순 정렬)와 reverse(순서 반대)

In [16]:
list=[1,10,2,20]
list.sort()
print(list)

[1, 2, 10, 20]

In [18]:
list=[1,10,2,20]
list.reverse()
print(list)

[20, 2, 10, 1]

In [20]:
n=[53,26,37,69,24,2]
n.sort()
print(n)

n.reverse()
print(n)

[2, 24, 26, 37, 53, 69]
[69, 53, 37, 26, 24, 2]

## 2. 함수

##### 함수 작성

In [22]:
def sing():
    print("노래합니다")
sing()

노래합니다

In [23]:
def introduce():
    print("소개합니다. 저는 최소희입니다")
introduce()

소개합니다. 저는 최소희입니다

In [26]:
def introduce(n):
    print("소개합니다! 저는 "+n+"입니다")
introduce("홍길동")

소개합니다! 저는 홍길동입니다

In [27]:
def introduce():
    n=input()
    print("소개합니다! 저는 "+n+"입니다")
introduce()

최소희
소개합니다! 저는 최소희입니다

In [28]:
def cube_cal(n):
    n=n**3
    print(n)
    
cube_cal(4)

64

In [31]:
#복수개의 인수
def introduce(first,second):
    print("제 성은",first,"이고 이름은",second,"입니다")

introduce("최","소희")

제 성은  최 이고 이름은 소희 입니다

In [33]:
def introduce(n,age):
    print(n,"입니다.",age,"살 입니다")
introduce("홍길동",20)

홍길동 입니다. 20 살 입니다

In [38]:
def introduce(first="홍",second="길동"):
    print("제 성은",first,"이고 이름은",second,"입니다")
introduce("김")

제 성은 김 이고 이름은 길동 입니다

In [41]:
def introduce(age,n="홍길동"): #introduce(n="홍길동",age)
    print(n,"입니다.",str(age),"살 입니다")
introduce(20)

홍길동 입니다. 20 살 입니다

In [44]:
def introduce(first="홍",second="길동"):
    return "제 성은 "+first+"이고 이름은 "+second+"입니다"

print(introduce("김"))

제 성은 김이고 이름은 길동입니다

In [52]:
def bmi(weight,height):
    return weight/height**2

print("bmi 지수는",bmi(45,1.6),"입니다")

bmi 지수는 17.578124999999996 입니다

In [53]:
import time
now_time=time.time()    #import time으로 하면 time.으로 모듈을 실행시켜야함
print(now_time)

1644494117.8648698

In [54]:
from time import time
now_time=time()    #from을 이용해 import했기때문에 패키지명을 생략해도됨
print(now_time)

1644494397.3272052

In [55]:
from time import time
now_time=time()

## 3. 클래스

 - 클래스 : 자동차 설계도
 - 생성자(함수) : 자동차 공장
 - 멤버(변수) : 휘발유의 양, 속도
 - 메서드(함수) : 브레이크, 엑셀, 핸들
 - 인스턴스(실체) : 실제 만들어진 객체

In [2]:
class MyProduct:
    def __init__(self,name,price,stock):
        self.name=name
        self.price=price
        self.stock=stock
        self.sale=0
product=MyProduct("cake",500,20)

print(product.stock)

20

In [26]:
class MyProduct:
    def __init__(self,name,price,stock):
        self.name=name
        self.price=price
        self.stock=stock
        self.sale=0
        
    def buy_up(self,n):
        self.stock+=n
        print("")
        print("buy_up "+str(n)+"개")
        
    def sell(self,n):
        self.stock-=n
        self.sale += n* self.price
        print("")       
        print("sell "+str(n)+"개")
        
    def summary(self):
        message="called summary().\n name: "+ self.name +"\n price: "+str(self.price)+"\n stock : "+str(self.stock)+"\n sales: "+str(self.sale)
        print(message)
        
myproduct = MyProduct("cake",500,10)
myproduct.summary()
myproduct.buy_up(2)

myproduct.summary()
myproduct.sell(2)

myproduct.summary()

called summary().
 name: cake
 price: 500
 stock : 10
 sales: 0

buy_up 2개
called summary().
 name: cake
 price: 500
 stock : 12
 sales: 0

sell 2개
called summary().
 name: cake
 price: 500
 stock : 10
 sales: 1000

In [37]:
class MyProduct:
    def __init__(self,name,price,stock):
        self.name=name
        self.price=price
        self.stock=stock
        self.sale=0
        
    def buy_up(self,n):
        self.stock+=n
        print("")
        print("buy_up "+str(n)+"개")
        
    def sell(self,n):
        self.stock-=n
        self.sale += n* self.price
        print("")       
        print("sell "+str(n)+"개")
    
    def get_name(self):
        print("제품명은 ",self.name)
        
    def summary(self):
        print("")
        message="called summary().\n name: "+ self.name +"\n price: "+str(self.price)+"\n stock : "+str(self.stock)+"\n sales: "+str(self.sale)
        print(message)
    def discount(self,n):
        self.price-=n
        
product=MyProduct("Phone",3000,100)
product.summary()
print("")
product.discount(500)
product.summary()
print("")
product.get_name()

called summary().
 name: Phone
 price: 3000
 stock : 100
 sales: 0


called summary().
 name: Phone
 price: 2500
 stock : 100
 sales: 0

제품명은  Phone

In [38]:
class MyProductSalesTax(MyProduct):
    def __init__(self,name,price,stock,tax_rate):
        super().__init__(name,price,stock)
        self.tax_rate=tax_rate
    def get_name(self):
        print("")
        return self.name+"(소비세 포함)"

    def get_price_with_tax(self):
        print("")
        return int(self.price*(1+self.tax_rate))
    

product_3 = MyProductSalesTax("Phone",30000,100,0.1)
print(product_3.get_name())
print(product_3.get_price_with_tax())

product_3.summary()

Phone(소비세 포함)

33000

called summary().
 name: Phone
 price: 30000
 stock : 100
 sales: 0

In [41]:
class MyProductSalesTax(MyProduct):
    def __init__(self,name,price,stock,tax_rate):
        super().__init__(name,price,stock)
        self.tax_rate=tax_rate
        
    def get_name(self):
        print("")
        return self.name+"(소비세 포함)"

    def get_price_with_tax(self):
        print("")
        return int(self.price*(1+self.tax_rate))
    
    def summary(self):
        print("")
        message="called summary().\n name: "+ self.name +"\n price: "+str(self.price)+"\n stock : "+str(self.stock)+"\n sales: "+str(self.sale)+"\n소비세:"+str(self.tax_rate)
        print(message)
        
    

product_3 = MyProductSalesTax("Phone",30000,100,0.1)
print(product_3.get_name())
print(product_3.get_price_with_tax())

product_3.summary()

Phone(소비세 포함)

33000

called summary().
 name: Phone
 price: 30000
 stock : 100
 sales: 0
 소비세:0.1

## 4. 문자열 포맷 지정

In [44]:
pai=3.141592
print("원주율은 %f" %pai)
print("원주율은 %.2f" %pai)

원주율은 3.141592
원주율은 3.14

In [47]:
def bmi(height,weight):
    return weight/height**2


print("bmi는 %.4f" %bmi(1.65,65))

bmi는 23.8751

## 연습문제

In [50]:
def check_character(object,character):
    return object.count(character)

print(check_character([1,2,4,5,5,3],5))
print(check_character("animationTvhappySquid","a"))

2
3

In [53]:
def binary_search(numbers, target_number):
    low = 0
    high = len(numbers)

    while low <= high:
        middle = (low + high) // 2
        
        if numbers[middle] == target_number:
            print("{1}은(는) {0}번째에 있습니다".format(middle, target_number))
            break
            
        elif numbers[middle] < target_number:
            low = middle + 1
            
        else:
            high = middle - 1

numbers = [1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13]
target_number = 11
binary_search(numbers, target_number)

11은(는) 8번째에 있습니다